/*Style*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #f4a100; /* Giallo/arancione del logo */
    --secondary-color: #003d66; /* Blu scuro del contorno */
    --accent-color: #ffd966; /* Giallo chiaro per accenti */
    --background-color: #ffffff; /* Bianco */
    --text-color: #333333; /* Colore del testo (per leggibilità) */
    --border-color: #005080; /* Blu medio per dettagli */
}


body {
    display: flex;
    flex-direction: column; /* Layout verticale */
    min-height: 100vh; /* Altezza minima del viewport */
    font-family: Arial, sans-serif;
    width: 100%;
    height: 100%;
}

/*Header*/
header {
    background-color: var(--secondary-color);
    color: var(--background-color);
    display: flex;
    justify-content: space-around; /* Mantiene spazio tra logo e menu */
    align-items: center;
    height: 65px;
}

.logo {
    border-radius: 7px;
    width: 50px;
    margin-right: 5px; /* Spazio tra logo e menu */
}

.menu {
    display: flex;
    list-style: none;
    gap: 20px;
    align-items: center;
}

.menu a {
    text-decoration: none;
    color: var(--background-color);
    padding: 5px 10px;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

.menu a:hover {
    background-color: var(--background-color);
    color: var(--secondary-color);
}

/*Mobile Menu*/
.menu-mobile {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 65px;
    left: 0;
    right: 0;
    background-color: #104b79;
    border-radius: 0 0 7px 7px;
    padding: 10px 10px;
    list-style: none;
}

.menu-mobile a {
    padding: 10px;
    color: var(--background-color);
    width: 100%;
    font-size: 1rem;
    text-decoration: none;
}

.menu-mobile a:hover {
    background-color: var(--secondary-color);
}

.menu-icon {
    font-size: 30px;
    cursor: pointer;
    display: none;
    margin-left: 15px;
}

.menu-logo {
    display: none;
}

/*Main*/
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1; /*Occupa lo spazio rimanente*/
    padding: 20px;
    gap: 20px;
}

.content {
    flex: 2;
}

.hero {
    position: relative;
    text-align: center;
    color: var(--text-color);
    margin: 20px 0;
}

.hero img {
    width: 40%;
    max-height: 550px;
    object-fit: cover;
    border-radius: 10px;
}

#bigTitle {
    font-size: 60px;
    text-align: center;
    color: var(--text-color);
}

#title {
    font-size: 40px;
    color: var(--text-color);
}

#subtitle {
    font-size: 30px;
    text-align: center;
}

iframe.map-embed {
    width: 98%; 
    height: 600px; 
    border-radius: 0.5rem;
    margin: 1rem;
}

aside {
    flex: 1; /* La sidebar occupa meno spazio */
    background-color: #f4f4f4;
    border-radius: 7px;
    padding-top: 100px;
    padding-bottom: 100px;
    color: var(--text-color);
    text-align: center;
}

aside h2 {
    color: var(--text-color);
    margin-bottom: 20px;
    font-size: 1.8rem;
}

aside ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

aside li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    font-size: 1.2rem;
}

aside i {
    color: var(--secondary-color);
    margin-right: 10px;
    font-size: 1.5rem;
}

aside li:hover i {
    color: var(--text-color); /* Cambia colore icona */
    transform: scale(1.2); /* Ingrandisce leggermente l'icona */
    transition: transform 0.3s ease, color 0.3s ease;
}


.content h2 {
    font-size: 1.5rem;
    font-weight: 550;
}

.content h3 {
    font-size: 1.2rem;
    font-weight: 550;
}

.content p {
    font-size: 1rem;
}

.content li {
    font-weight: 300;
}

.content a {
    color: var(--text-color);
}

.policy-internal-list {
    list-style-position: inside;
    font-size: 1rem;
    font-weight: 550;
}

.policy-internal-list a {
    color: var(--text-color);
}

/*Footer*/
footer {
    background-color: var(--secondary-color);
    color: white;
    text-align: center;
    align-items: center;
    padding: 10px 0;
    flex-shrink: 0; /*Non si ridimensiona*/
}

footer p {
    padding-top: 10px;
}

footer a {
    color: var(--background-color);
}

/*Gallery*/
.gallery {
    padding: 40px 20px;
    text-align: center;
    background-color: var(--background-color);
}

.gallery h2 {
    color: var(--primary-color);
    font-size: 2rem;
    margin-bottom: 20px;
}

.gallery-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.gallery-item {
    flex: 1 1 calc(33.333% - 20px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
    position: relative;
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gallery-item:hover img {
    transform: scale(1.1);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.gallery-item p {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    color: var(--text-color);
    background-color: var(--accent-color);
    margin: 0;
    z-index: 2; /* Sta sopra l'immagine */
    pointer-events: none; /* Così il mouseover va comunque sull'immagine */
}

/*Responsive*/
@media (max-width: 768px) {
    header {
        justify-content: flex-start; /* Allineiamo tutto a sinistra */
    }
    
    .logo {
        position: absolute; /* Posiziona il logo in alto a sinistra */
        right: 10px; /* Distanza dal bordo sinistro */
        top: 10px; /* Distanza dal bordo superiore */
        transform: none; /* Elimina la trasformazione per centrare verticalmente */
    }

    body {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    main {
        flex: 1;
        flex-direction: column;
        width: 98%;
    }

    .hero img {
        width: 70%; /* Allarga l'immagine a tutta la larghezza */
        height: auto; /* Mantieni l'altezza proporzionale */
    }

    .menu {
        display: none; /* Nasconde il menu desktop */
    }

    .menu-mobile {
        display: flex; /* Mostra il menu mobile */
    }

    .menu-icon {
        display: block; /* Mostra l'icona del menu */
    }

    .menu-logo {
        display: block;
    }

    iframe.map-embed {
        width: 92%;
        height: 600px;
    }

    aside {
        padding: 20px;
        margin-top: 20px;
    }

    .gallery-item {
        flex: 1 1 calc(50% - 20px); /* Due elementi per riga */
        box-shadow: none;
    }

    .gallery-item img {
        transition: none;
    }

    .gallery-item:hover img {
        transform: none;
        box-shadow: none;
    }
}

@media (max-width: 480px) {
    .gallery-item {
        flex: 1 1 100%; /* Un elemento per riga */
    }

    .hero img {
        max-height: 250px; /* Limitiamo ulteriormente l'altezza su schermi molto piccoli */
    }
}